<h1>Welcome!!</h1>


<%= link_to "Download", download_path , method: :post %>

<script>
document.addEventListener("DOMContentLoaded", function(event){

 var is_chrome = navigator.userAgent.toLowerCase().indexOf('chrome') > -1;
 //console.log(is_chrome);
 
var hasExtension = false;


if(is_chrome){
  chrome.runtime.sendMessage("fdmmgilgnpjigdojojpjoooidkmcomcm", { message: "version" },
    function (reply) {
      console.log(reply);
        if (reply) {
            if (reply.version) {
                if (reply.version >= requiredVersion) {
                    hasExtension = true;
                }
            }
        }
    });
}


});
</script>



