/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

header {
	background: #4db6ac;	 
	height: 60px;
}

.user-sign-in {
	padding: 3em 0 ;
}
h1 {
  font-size: 30px !important;
  line-height: 60px !important;
  padding: 0;
  margin: 0 !important;
  color: #fff;
}
h2 {
  font-size: 30px !important;
  line-height: 64px !important;
  padding: 0;
  margin: 0 !important;
}
h3 {
  font-size: 24px !important;
  padding: 1em 0 0;
  margin: 0 !important;
}
h4 {
  font-size: 18px !important;
  padding: 1em 0 0;
  margin: 0 !important;
}
.movie-listing table tr .material-icons {
	display: none;
	font-size: 1.5rem;
}
.movie-listing table tr:hover .material-icons {
	display: block;
	cursor: pointer;
}
.user-sign-in p {
	color: grey;
}
.user-sign-in form {
	margin: 2rem 0 0;
}
.nav-link {
	line-height: 60px;
	color: #fff;
}
.nav-link a {
	color: #e8eaf6;
	display: inline-block;
	padding: 0 10px;
}
.nav-link a:hover {
	color: #fff;	
}	
section h1 {
	color: #
}